<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>图片截取</title>
	<script>document.writeln('<script type="text/javascript" id="componentJs" src="../../../component/component.js?'+new Date().getTime()+'" ><\/script>');</script>
    <script type="text/javascript" src="exif.js" ></script>
	<script src="cropper.min.js"></script>
    <link rel="stylesheet" href="cropper.css">
    <link rel="stylesheet" href="covered.css" />
</head>
<style>
    html,body{
		height:100%;
	}
    body{
        text-align: center;padding: 0px;  background: #ffffff;opacity: 1;
    }
    .cropper-box{width:100%;}
    .cropper-box img{width:100%;}
    .cropper-box,.cropper-box-preview{
        margin: 0 auto;
        overflow: hidden;
    }
    .cropper-btn{
        position: relative;
    }
    .cropper-container{background: #cccccc;}
    .cropper-btn{
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
    }
    .cropper-btn input{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
    }
    .closeBtn{
        position: absolute;
        z-index: 3;
        right: 15px;
        top: 15px;
        border: 0;
        padding: 0;
        background: none;
        color:#ffffff;
        line-height: 14px;
    }
    .control{
    	position: fixed;
    	left: 0;
    	bottom: 0;
    	width: 100%;
    	background: #ffffff;
    	height: 45px;
    	z-index: 2;
    }
    .btn1,.btn2{
    	display: block;
    	float: left;
    	width: 100%;
    	height: 100%;
    	padding: 0;
	    font-size: 16px;
	    border: 0;
	    height: 50px;
	    line-height: 50px;
    }
    .btn2{
    	filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#fccc33', endColorstr = '#ff7c02');
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#fccc33', endColorstr = '#ff7c02')";
	    background-image: -moz-linear-gradient(left, #fccc33, #ff7c02);
	    background-image: -ms-linear-gradient(left, #fccc33, #ff7c02);
	    background-image: -o-linear-gradient(left, #fccc33, #ff7c02);
	    background-image: -webkit-gradient(linear, left top, right top, from(#fccc33), to(#ff7c02));
	    background-image: -webkit-linear-gradient(left, #fccc33, #ff7c02);
	    background-image: linear-gradient(left, #fccc33, #ff7c02);
	    color: #ffffff;
    }
    .cropper-box-preview{
    	position: absolute;
    	left: 10px;
    	top: 10px;
        -webkit-border-radius: 100%;
        -moz-border-radius:100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
    }
    
    button:active{
    	background: none;
    }
    
    .chexiaoBtn,.saveBtn,.closeBtn2{
		position: absolute;
        z-index: 3;
        top: 15px;
        border: 0;
        padding: 0;
        background: none;
        color:#333333;
        font-size: 16px;
        line-height: 14px;
	}
	.chexiaoBtn{
		right: 40px;
	}
	.saveBtn{
		top: auto;
		bottom: 15px;
        right: 15px;
	}
	.closeBtn2{
		left: 15px;
	}
	.yzinfo-window-title{text-align: left;}
</style>
<body ontouchmove="return false;">
<div id="cropPanel" class="cropPanel" style="display: none;">
	<button class="closeBtn" type="button" onclick="closeCrop()"><i class="mui-icon mui-icon-closeempty"></i>取消</button>
    <div class="cropper-box"><img id="image" src="" /></div>
    <div id="cropper-box-preview" class="cropper-box-preview" style="width: 50px;height: 50px;"><div class="preview" ></div></div>
    <div class="control">
        <!--<button type="button" class="cropper-btn btn btn1" >重新选择<input type="file" id="inputImage" name="file" accept="image/*"></button>-->
        <button type="button" id="savaImgBtn" class="cropper-btn btn btn2" style="display: none;" onclick="saveImg()" >完成</button>
    </div>
</div>


<div id="coverPanel" style="opacity:0;z-index:-1;position: fixed;left:0;top:0;right:0;bottom:0;border:0;width: 100%;height: 100%;background: #ffffff;">
	<button id="revocation" class="chexiaoBtn" type="button" ><i class="mui-icon mui-icon-undo"></i>撤销</button>
	<div class="control" style="z-index: 999;">
		<button id="imgurl" class="cropper-btn btn btn2" type="button" ><!--<i class="mui-icon mui-icon-checkmarkempty"></i>-->保存</button>
	</div>
	<button class="closeBtn2" type="button" onclick="coverPanelhide()"><i class="mui-icon mui-icon-closeempty"></i>取消</button>
	<img src="../../img/huabi.png" style="width: 24px;height: 24px;position: absolute;right: 15px;top: 13px;z-index: 3;" />
	<div class="kePublic">
		<!--效果html开始-->
		<div class="fa">
		   <div class="top">
		   	<button style="display: none;" type="button" class="takeBtn">拍照<input type="file" accept="image/*" id="fileImg"  /></button>
		    <div id="color" style="display: none;">
		       <input class="i1" type="button" value="">
		       <input class="i2" type="button" value="">
		       <input class="i3" type="button" value="">
		       <!--<input class="i4" type="button" value="">
		       <input class="i5" type="button" value="">
		       <input class="i6" type="button" value="">
		       <input class="i7" type="button" value="">
		       <input class="i8" type="button" value="">
		       <input class="i9" type="button" value="">-->
		    </div>
		    <div class="font" style="display: none;" id="font"> 请选择画笔的宽度：<br />
		       <input type="button" value="细">
		       <input type="button" value="中" class="grea">
		       <input type="button" value="粗">
		     </div>
		    <div class="eraser" style="display: none;"> <span id="error">如果有错误，请使用橡皮擦：</span>
		       <input id="eraser" type="button" value="橡皮擦">
		    </div>
		     
		    <input id="clear" style="display: none;" type="button" value="清除画布" >
		  </div>
		   <div id="canvasPanel" class="canvasPanel">
		   	<canvas id="canvas" width="300" height="300" >您的浏览器不支持 canvas 标签</canvas>
		   	<canvas id="imgCanvas" width="300" height="300" >您的浏览器不支持 canvas 标签</canvas>
		   </div>
		   <div id="div1"></div>
		 </div>
		<div id="html" class="html" ></div>
		<div class="loading"><div class="loadingc">图片处理中,请稍后。。。</div></div>
		</div>
</div>
</body>
<script>
    var _key = {};
	var appReady = function(){
		System.showLoading('准备编辑图片');
		var extras = System.getExtras();
		if(extras.url==""){
			//如果 extras.url == ''说明是web端打开，这边图片url传过来是base64
			extras.url = parent.cropperBase64Data;
		}
		_key = {
			aspectRatio:extras.aspectRatio,
    		url:extras.url,
    		covered:extras.covered,
    		previewRadius:extras.previewRadius,
    		quality:extras.quality,
    		cropperAndcovered:extras.cropperAndcovered,
    		v:extras.v
		}
		getImgbase64(_key.url,function(base64,extra){
			if(_key.cropperAndcovered == true || _key.cropperAndcovered == 'true'){
				$('#cropPanel').show();
	       		cropInit(base64);
			}else{
				if(_key.covered == true ||_key.covered=='true'){
			        loadCovered(base64,extra);
		       	}else{
		   			$('#cropPanel').show();
		       		cropInit(base64);
		       	}
			}
			System.hideLoading();
   		})
	}
    
    //对图片旋转处理 added by lzk  
	function rotateImg(img, direction,canvas) {    
        //最小与最大旋转方向，图片旋转4次后回到原方向    
        var min_step = 0;    
        var max_step = 3;    
        //var img = document.getElementById(pid);    
        if (img == null)return;    
        //img的高度和宽度不能在img元素隐藏后获取，否则会出错    
        var height = img.height;    
        var width = img.width;    
        //var step = img.getAttribute('step');    
        var step = 2;    
        if (step == null) {    
            step = min_step;    
        }    
        if (direction == 'right') {    
            step++;    
            //旋转到原位置，即超过最大值    
            step > max_step && (step = min_step);    
        } else {    
            step--;    
            step < min_step && (step = max_step);    
        }    
        //img.setAttribute('step', step);    
        /*var canvas = document.getElementById('pic_' + pid);   
        if (canvas == null) {   
            img.style.display = 'none';   
            canvas = document.createElement('canvas');   
            canvas.setAttribute('id', 'pic_' + pid);   
            img.parentNode.appendChild(canvas);   
        }  */  
        //旋转角度以弧度值为参数    
        var degree = step * 90 * Math.PI / 180;    
        var ctx = canvas.getContext('2d');    
        switch (step) {    
            case 0:    
                canvas.width = width;    
                canvas.height = height;    
                ctx.drawImage(img, 0, 0);    
                break;    
            case 1:    
                canvas.width = height;    
                canvas.height = width;    
                ctx.rotate(degree);    
                ctx.drawImage(img, 0, -height);    
                break;    
            case 2:    
                canvas.width = width;    
                canvas.height = height;    
                ctx.rotate(degree);    
                ctx.drawImage(img, -width, -height);    
                break;    
            case 3:    
                canvas.width = height;    
                canvas.height = width;    
                ctx.rotate(degree);    
                ctx.drawImage(img, -width, 0);    
                break;    
        }  
    } 
    
    function getImgbase64(url,callback){
    	var image = new Image();  
		image.onload = function() {
			//获取照片方向角属性，用户旋转控制  
	        EXIF.getData(image, function() {  
	           // alert(EXIF.pretty(this));  
	            EXIF.getAllTags(this);   
	            //alert(EXIF.getTag(this, 'Orientation'));   
	            Orientation = EXIF.getTag(this, 'Orientation');  
//			            alert('获取照片方向角属性，用户旋转控制');
	            //return;  
	        
                var expectWidth = this.naturalWidth;  
                var expectHeight = this.naturalHeight;
                var aWidth = $(window).width();
                var aHeight = $(window).height();
                if (this.naturalWidth > this.naturalHeight && this.naturalWidth > aWidth) {  
                    expectWidth = aWidth;  
                    expectHeight = expectWidth * this.naturalHeight / this.naturalWidth;  
                } else if (this.naturalHeight > this.naturalWidth && this.naturalHeight > aHeight) {  
                    expectHeight = aHeight;  
                    expectWidth = expectHeight * this.naturalWidth / this.naturalHeight;  
                }  
                var canvas = document.createElement("canvas");  
                canvas.width = expectWidth;  
                canvas.height = expectHeight;  
                var ctx = canvas.getContext("2d");  
                ctx.drawImage(this, 0, 0, expectWidth, expectHeight);  
                var base64 = canvas.toDataURL("image/jpeg",_key.quality);
				var image2 = new Image();
				image2.src = base64;
				image2.onload = function() {
                    //alert(expectWidth + ',' + expectHeight);  
                    //如果方向角不为1，都需要进行旋转 added by lzk  
                    if(Orientation != "" && Orientation != 1){  
//				                        alert('旋转处理'+Orientation);  
                        switch(Orientation){  
                            case 6://需要顺时针（向左）90度旋转  
//			                                alert('需要顺时针（向左）90度旋转');  
                                rotateImg(this,'left',canvas);  
                                break;  
                            case 8://需要逆时针（向右）90度旋转  
//			                                alert('需要顺时针（向右）90度旋转');  
                                rotateImg(this,'right',canvas);  
                                break;  
                            case 3://需要180度旋转  
//			                                alert('需要180度旋转');  
                                rotateImg(this,'right',canvas);//转两次  
                                rotateImg(this,'right',canvas);  
                                break;  
                        }         
                    }  
                    base64 = canvas.toDataURL("image/jpeg");  
                    callback(base64,{width:canvas.width,height:canvas.height});
            	}
			}); 
        };
        image.src = url;  
    }

    function cropInit(url){
        var _cb = $('.cropper-box');
//      var _cbp = $('.cropper-box-preview');
//      var _cbw= _cb.width();
        _cb.height($(window).height()-45);
//      _cbp.height(_cb.height());
        var $previews = $('.preview');
        var $image = $('#image');
        $image.attr('src',url);
        $image.cropper({
        	autoCropArea:0.5,
            aspectRatio: parseFloat(_key.aspectRatio),
            preview: '.cropper-box-preview',
            viewMode:2,
            dragMode:'move',
            crop: function (e) {
                var imageData = $(this).cropper('getImageData');
                var previewAspectRatio = e.width / e.height;

                $previews.each(function () {
                    var $preview = $(this);
                    var previewWidth = $preview.width();
                    var previewHeight = previewWidth / previewAspectRatio;
                    var imageScaledRatio = e.width / previewWidth;

                    $preview.height(previewHeight).find('img').css({
                        width: imageData.naturalWidth / imageScaledRatio,
                        height: imageData.naturalHeight / imageScaledRatio,
                        marginLeft: -e.x / imageScaledRatio,
                        marginTop: -e.y / imageScaledRatio
                    });
                });
            }
        });
        
        //预览小图的显示效果
        $('#cropper-box-preview').css({
    		borderRadius:_key.previewRadius
    	})
        $('#savaImgBtn').show();
    }
	
    function closeCrop(){
    	if(mui.os.plus){
    		setTimeout(function(){
    			System.closeWindow();
    		},300)
    	}else{
    		parent.$(parent.System.id).remove();
        	System.showLoading();
    	}
    }

    //获取截屏图片
    function saveImg(){
    	var $image = $('#image');
		var _canvas = $image.cropper('getCroppedCanvas');
		var base64URL ='';
    	if(_key.cropperAndcovered == true || _key.cropperAndcovered == 'true' ){
    		System.confirm({msg:'是否对图片涂鸦？',title:'涂鸦',btn:['不','涂鸦'],callback:function(d){
				if(d.index==1){
					System.showLoading();
					base64URL = _canvas.toDataURL("image/jpeg");
					loadCovered(base64URL,_canvas);
				}else{
					base64URL = _canvas.toDataURL("image/jpeg");
					saveCroper(base64URL,_canvas.width,_canvas.height);
				}
			}});
    	}else{
    		base64URL = _canvas.toDataURL("image/jpeg");
    		saveCroper(base64URL,_canvas.width,_canvas.height);
    	}
    }
    
    //保存处理完的图片
    function saveCroper(base64Url,canvasWidth,canvasHeight){
    	if(mui.os.plus){
    		System.showLoading();
 			System.getParentWindow().evalJS('System.cropperCallback(\''+base64Url+'\',\''+canvasWidth+'\',\''+canvasHeight+'\')');
    	}else{
			parent.System.cropperCallback(base64Url,canvasWidth,canvasHeight);
		}
    	closeCrop();
    }
	<!--以下是涂鸦的代码-->
		var paintData = {
			strokeStyle:'#FF0000',
			lineWidth:1,
			lineJoin:'round'
		}
		var pbaseUrl = '';
//		document.addEventListener('touchmove', function (event) {
//		    event.preventDefault();
//		}, false);
		document.getElementById('canvas').addEventListener('touchmove', function (event) {
		    event.preventDefault();
		}, false);
		(function(){
		    var paint={
		        init:function()
		        {
		            this.load();
		        },
		        load:function()
		        {   
		        	this.newCanvasId = 0;
		            this.x=[];//记录鼠标移动时的X坐标
		            this.y=[];//记录鼠标移动时的Y坐标
		            this.clickDrag=[];
		            this.lock=false;//鼠标移动前，判断鼠标是否按下
		            this.isEraser=false;
		            //this.Timer=null;//橡皮擦启动计时器
		            //this.radius=5;
		            this.eraserRadius=15;//擦除半径值
		            this.color=["#FF0000","#000000","#80FF00","#00FFFF","#808080","#FF8000","#408080","#8000FF","#CCCC00"];//画笔颜色值
		            this.fontWeight=[2,5,8];
		            this.$=function(id){return typeof id=="string"?document.getElementById(id):id;};
		            this.canvas=this.$("canvas");
		            this.imgCanvas=this.$("imgCanvas");
		            if (this.canvas.getContext) {
		            } else {
		                alert("您的浏览器不支持 canvas 标签");
		                return;
		            }
		            this.canvas.width = $('.canvasPanel').width();
		            this.canvas.height = $('.canvasPanel').height();
		            this.imgCanvas.width = $('.canvasPanel').width();
		            this.imgCanvas.height = $('.canvasPanel').height();
		            this.cxt=this.canvas.getContext('2d');
		            this.cxt.lineJoin = "round";//context.lineJoin - 指定两条线段的连接方式
		            this.cxt.lineWidth = 5;//线条的宽度
		            this.cxt.strokeStyle = this.color[0];
		            this.iptClear=this.$("clear");
		            this.revocation=this.$("revocation");
		            this.imgurl=this.$("imgurl");//图片路径按钮
		            this.w=this.canvas.width;//取画布的宽
		            this.h=this.canvas.height;//取画布的高 
		            this.touch =("createTouch" in document);//判定是否为手持设备
		            this.StartEvent = this.touch ? "touchstart" : "mousedown";//支持触摸式使用相应的事件替代
			         this.MoveEvent = this.touch ? "touchmove" : "mousemove";
			         this.EndEvent = this.touch ? "touchend" : "mouseup";
			         this.bind();
		        },
		        bind:function()
		        {
		            var t=this;
		            /*清除画布*/
		            this.iptClear.onclick=function()
		            {
		                t.clear();
		            };
		            /*鼠标按下事件，记录鼠标位置，并绘制，解锁lock，打开mousemove事件*/
		            this.canvas['on'+t.StartEvent]=function(e)
		            {   
		            	e = e || window.event;  
				        if(e.stopPropagation) { //W3C阻止冒泡方法  
				            e.stopPropagation();  
				        } else {  
				            e.cancelBubble = true; //IE阻止冒泡方法  
				        } 
		                var touch=t.touch ? e.touches[0] : e; 
		                var _x=touch.clientX - touch.target.offsetLeft;//鼠标在画布上的x坐标，以画布左上角为起点
		                var _y=touch.clientY - touch.target.offsetTop;//鼠标在画布上的y坐标，以画布左上角为起点             
		                if(t.isEraser)
		                {
		                /*
		                    t.cxt.globalCompositeOperation = "destination-out";
		                    t.cxt.beginPath();
		                    t.cxt.arc(_x, _y,t.eraserRadius, 0, Math.PI * 2);
		                    t.cxt.strokeStyle = "rgba(250,250,250,0)";
		                    t.cxt.fill();
		                    t.cxt.globalCompositeOperation = "source-over";
		                    */
		                    t.resetEraser(_x,_y,touch);
		                }else
		                {
		                    t.movePoint(_x,_y);//记录鼠标位置
		                    t.drawPoint();//绘制路线
		                }
		                t.lock=true;
		            };
		            /*鼠标移动事件*/
		            this.canvas['on'+t.MoveEvent]=function(e)
		            {
		            	e = e || window.event;  
				        if(e.stopPropagation) { //W3C阻止冒泡方法  
				            e.stopPropagation();  
				        } else {  
				            e.cancelBubble = true; //IE阻止冒泡方法  
				        } 
		                var touch=t.touch ? e.touches[0] : e;
		                if(t.lock)//t.lock为true则执行
		                {
		                    var _x=touch.clientX - touch.target.offsetLeft;//鼠标在画布上的x坐标，以画布左上角为起点
		                    var _y=touch.clientY - touch.target.offsetTop;//鼠标在画布上的y坐标，以画布左上角为起点
		                    if(t.isEraser)
		                    {
		                        //if(t.Timer)clearInterval(t.Timer);
		                        //t.Timer=setInterval(function(){
		                            t.resetEraser(_x,_y,touch);
		                        //},10);
		                    }
		                    else
		                    {
		                        t.movePoint(_x,_y,true);//记录鼠标位置
		                        t.drawPoint();//绘制路线
		                    }
		                }
		            };
		            this.canvas['on'+t.EndEvent]=function(e)
		            {
		            	e = e || window.event;  
				        if(e.stopPropagation) { //W3C阻止冒泡方法  
				            e.stopPropagation();  
				        } else {  
				            e.cancelBubble = true; //IE阻止冒泡方法  
				        } 
		                /*重置数据*/
		                t.lock=false;
		                t.x=[];
		                t.y=[];
		                t.clickDrag=[];
		                clearInterval(t.Timer);
		                t.Timer=null;
		                //创建存储最后一次画布的图案
						var image = new Image();
						image.src = t.canvas.toDataURL("image/png");
		                image.id = t.newCanvasId++;
		                image.style.display = 'none';
		                image.setAttribute('name','newCanvasImage');
		                document.body.appendChild(image);
		            };
		            this.revocation.onclick=function()
		            {
		                t.redraw();
		            };
		            this.changeColor();
		            this.imgurl.onclick=function()
		            {
		                t.getUrl();
		            };
		            /*橡皮擦*/
		            this.$("eraser").onclick=function(e)
		         {
		             t.isEraser=true;
		                t.$("error").style.color="red";
		                t.$("error").innerHTML="您已使用橡皮擦！";
		         };
		        },
		        movePoint:function(x,y,dragging)
		        {   
		            /*将鼠标坐标添加到各自对应的数组里*/
		            this.x.push(x);
		            this.y.push(y);
		            this.clickDrag.push(y);
		        },
		        drawPoint:function(x,y,radius)
		        {
		        	var can = document.getElementById('canvas');
		        	var stp = 0;
		        	var stl = 0;
		        	console.log(can.width+'-----'+can.height);
		        	if(can.width>can.height){
		        		stp = -(document.documentElement.clientHeight-can.height)/2;
		        	}else{
		        		stp = -(document.documentElement.clientHeight-45-can.height)/2;
		        	}
		        	stl = -(document.documentElement.clientWidth-can.width)/2;
		            for(var i=0; i < this.x.length; i++)//循环数组
		            {   
		                this.cxt.beginPath();//context.beginPath() , 准备绘制一条路径
		                
		                if(this.clickDrag[i] && i){//当是拖动而且i!=0时，从上一个点开始画线。
		                    this.cxt.moveTo(this.x[i-1]+stl, this.y[i-1]+stp);//context.moveTo(x, y) , 新开一个路径，并指定路径的起点
		                }else{
		                    this.cxt.moveTo(this.x[i]-1+stl, this.y[i]+stp);
		                }
		                
		                this.cxt.lineTo(this.x[i]+stl, this.y[i]+stp);//context.lineTo(x, y) , 将当前点与指定的点用一条笔直的路径连接起来
		                this.cxt.closePath();//context.closePath() , 如果当前路径是打开的则关闭它
		                this.cxt.stroke();//context.stroke() , 绘制当前路径
//		            	this.cxt.restore(); 
		            }
		        },
		        clear:function()
		        {
		            
		        },
		        redraw:function()
		        {  
		            /*撤销*/
		            var canss = document.getElementsByName('newCanvasImage');
					if(canss.length==0){
						this.cxt.clearRect(0, 0, this.w, this.h);//清除画布，左上角为起点
						return;
					}
		            var lastCanvasImage = canss[canss.length-1];
					lastCanvasImage.parentNode.removeChild(lastCanvasImage);
					canss = document.getElementsByName('newCanvasImage');
					if(canss.length==0){
						this.cxt.lineWidth = paintData.lineWidth;//线条的宽度
						this.cxt.clearRect(0, 0, this.w, this.h);//清除画布，左上角为起点
						return;
					}
		            lastCanvasImage = canss[canss.length-1];
					this.canvas.width = lastCanvasImage.width;
					this.canvas.height = lastCanvasImage.height;
					this.canvas.getContext("2d").drawImage(lastCanvasImage, 0, 0);
					this.canvas.getContext('2d').lineWidth = paintData.lineWidth;
					this.canvas.getContext('2d').lineJoin = paintData.lineJoin;
					this.canvas.getContext('2d').strokeStyle = paintData.strokeStyle;
		        },  
		        preventDefault:function(e){
		            /*阻止默认*/
		            var touch=this.touch ? e.touches[0] : e;
		      if(this.touch)touch.preventDefault();
		      else window.event.returnValue = false;
		     },
		     changeColor:function()
		     {
		         /*为按钮添加事件*/
		         var t=this,iptNum=this.$("color").getElementsByTagName("input"),fontIptNum=this.$("font").getElementsByTagName("input");
		         for(var i=0,l=iptNum.length;i<l;i++)
		         {		
		             iptNum[i].index=i;
		             iptNum[i].onclick=function()
		             {
//		             	t.cxt.save();
		                 t.cxt.strokeStyle = t.color[this.index];
		                 t.storageColor=t.color[this.index];
		                 t.$("error").style.color="#f00";
		                 t.$("error").innerHTML="如果有错误，请使用橡皮擦：";
		                 t.cxt.strokeStyle = t.storageColor;
		                 t.isEraser=false;
		                 paintData.strokeStyle = t.cxt.strokeStyle;
		             }
		         }
		         for(var i=0,l=fontIptNum.length;i<l;i++)
		         {
		             fontIptNum[i].index=i;
		             fontIptNum[i].onclick=function()
		             {
//		             	t.cxt.save();
		                 t.changeBackground(this.index);
		                 t.cxt.lineWidth = t.fontWeight[this.index];
		                 t.$("error").style.color="#f00";
		                 t.$("error").innerHTML="如果有错误，请使用橡皮擦：";
		                 t.isEraser=false;
		                 t.cxt.strokeStyle = t.storageColor;
		             }
		         }
		     },
		     changeBackground:function(num)
		     {
		         /*添加画笔粗细的提示背景颜色切换，灰色为当前*/
		         var fontIptNum=this.$("font").getElementsByTagName("input");
		         for(var j=0,m=fontIptNum.length;j<m;j++)
		            {
		                fontIptNum[j].className="";
		                if(j==num) fontIptNum[j].className="grea";
		            }
		     },
		     getUrl:function()
		     {
		     		System.showLoading();
		     		var ncanvas = document.createElement('canvas');
		     		ncanvas.setAttribute('name','canvas');
		     		ncanvas.width = this.canvas.width;
		     		ncanvas.height = this.canvas.height;
		     		ncanvas.getContext('2d').drawImage(this.imgCanvas,0,0,this.canvas.width,this.canvas.height);
		     		ncanvas.getContext('2d').drawImage(this.canvas,0,0,this.canvas.width,this.canvas.height);
		     		var baseUrl = ncanvas.toDataURL("image/jpeg");
		     		saveCroper(baseUrl,this.canvas.width,this.canvas.height);
		        },
		        resetEraser:function(_x,_y,touch)
			     {   
			         /*使用橡皮擦-提醒*/
			         var t=this;
			            //this.cxt.lineWidth = 30;
			            /*source-over 默认,相交部分由后绘制图形的填充(颜色,渐变,纹理)覆盖,全部浏览器通过*/
			            t.cxt.globalCompositeOperation = "destination-out";
			            t.cxt.beginPath();
			            t.cxt.arc(_x, _y, t.eraserRadius, 0, Math.PI * 2);
			            t.cxt.strokeStyle = t.color[this.index];
			            t.cxt.fill();
			            t.cxt.globalCompositeOperation = "source-over"
			     } 
		    };
		    paint.init();
		    window.paint = paint;
		})();
		
	    function loadCovered(source,extra){
	    	var paint = window.paint;
	    	var ww = extra.width||$(window).width();
	    	var wh = extra.height||$(window).height();
	    	var whp = ww/wh;
	    	var hwp = wh/ww;
	    	var rww = $(window).width();
	    	var rwh = $(window).height()-45;
	    	if(ww==wh&&ww>=rww){
	    		ww = wh = rww;
	    	}
	    	if (ww != wh && ww > rww) {  
                ww = rww;  
                wh = ww * hwp;  
            } else if (wh != ww && wh > rwh) {  
                wh = rwh;  
                ww = wh * whp;  
            }
	    	var canvasPanel = $('#canvasPanel');
	    	var source_img_obj = document.createElement('img');
    		source_img_obj.src = source;
			source_img_obj.width = ww;
			source_img_obj.height = wh;
        	source_img_obj.onload = function(){
//      		alert($(window).width()+''+this.width+''+this.height);
            	var cvs = document.createElement('canvas');
            	cvs.width = this.width;
	        	cvs.height = this.height;
            	paint.imgCanvas.width = this.width;
	        	paint.imgCanvas.height = this.height;
	        	paint.canvas.width = this.width;
	        	paint.canvas.height = this.height;
        		cvs.getContext("2d").drawImage(this,0, 0 ,this.width,this.height);
	           	paint.imgCanvas.getContext("2d").drawImage(this, 0, 0 ,this.width,this.height);
	           	var newImageData = null;
	           	if(_key.covered == true || _key.covered=='true'){
	           		newImageData = cvs.toDataURL("image/jpeg",_key.quality);
	           	}else{
	           		newImageData = cvs.toDataURL("image/jpeg");
	           	}
	        	pbaseUrl = newImageData;
	        	if(this.width>this.height){
	        		canvasPanel.css({
		        		width:this.width,
	        			height:this.height,
		        		top:'50%',
		        		marginTop:-(this.height/2)
		        	})
	        	}else{
	        		canvasPanel.css({
		        		width:this.width,
		        		height:this.height,
		        		top:0,
		        		left:0,
		        		right:0
		        	})
		        	canvasPanel.css({
		        		left:(rww-this.width)/2,
		        		top:(rwh-this.height)/2
		        	})
	        	}
	        	
	        	//恢复画布设置值
	    		paint.canvas.getContext('2d').lineWidth = paintData.lineWidth;
				paint.canvas.getContext('2d').lineJoin = paintData.lineJoin;
				paint.canvas.getContext('2d').strokeStyle = paintData.strokeStyle;
				$('#coverPanel').css({
					opacity:1,
					zIndex:999
				});
				$('body').css({
					opacity:1
				});
				this.parentNode.removeChild(this);
				System.hideLoading();
    		}
        	document.body.appendChild(source_img_obj);
	    }
	    function coverPanelhide(){
	    	if(_key.covered == true ||_key.covered=='true'){
	    		closeCrop();
	    	}else{
		    	$('#coverPanel').css({
					opacity:0,
					zIndex:-1
				});
	    	}
	    }
	</script>
</html>