body{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color:#ffffff;
}
.mui-bar{
	background: #333333;
	height:45px;
	line-height: 45px;
}
.mui-bar-nav.mui-bar .mui-icon{
	padding-left: 0px;
}
.mui-bar-nav a{
	color: #FFFFFF;
	font-size: 14px;
}
.mui-title{
	color: #FE9560;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
}
.mui-content{
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.mui-content a{
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
}
.mui-content button{
	width: 100%;
	line-height: 25px;
	font-size: 16px;
	background: #e6e6e6;
	color: #333333;
	margin-top: 20px;
}
.mui-content span{
	font-size: 12px;
	color: #bebebe;
}
