body{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color:#ffffff;
}
.mui-bar{
	background: #333333;
	height:45px;
	line-height: 45px;
}
.mui-bar-nav.mui-bar .mui-icon{
	padding-left: 0px;
}
.mui-bar-nav a{
	color: #FFFFFF;
	font-size: 14px;
}
.mui-title{
	color: #FE9560;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
}
.mui-content{
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.mui-content a{
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
}
.mui-content p{
	font-size: 15px;
	color: #000000;
	margin-bottom: 10px;
}
.mui-content button{
	width: 85%;
    line-height: 29px;
    font-size: 15px;
    background: #b5b5b6;
    border: none;
    margin-top: 13px;
}

/*弹出框dialog*/
.d-layer{  
    position: absolute;
    top: 0px; 
    left: 0px; 
    bottom: 0px; 
    right: 0px; 
    background: rgba(0,0,0,.5);
    display: none;
}
.dialog{  
    position: absolute;
    background: #FFFFFF;
    width: 72%;
    height: 125px;
    top: 35%;
    left: 14%;
    padding: 10px;
}
.dialog p{
	font-size: 16px;
	color: #000000;
	margin-bottom: 0px;
}
.dialog span{
	font-size: 12px;
	color: #ff6600;
}
.dialog button{
	width: 65%;
    line-height: 18px;
    font-size: 15px;
    background: #C0C0C0;
    color: #333333;
    margin-top: 5px;
}
.dialog .countdown{
	color: #333333;	
}


/*page*/
#page p{
	font-size: 14px;
	color: #000000;
	margin-bottom: 0px;
}
#page span{
	font-size: 12px;
	color: #ff6600;
}
#page button{
	width: 90%;
	line-height: 15px;
	font-size: 14px;
	background: #b6b6b6;
	border:none;
	margin-top: 5px;
}
#page .btn1{
	background: #ff6600;
}